@charset "utf-8";

*{margin:0; padding:0; vertical-align: middle;}
html,body {width:100%; height:100%;}
body {font:normal 14px/1 'arial'; color:#444; }
ul,li {list-style: none;} 


section {padding:100px 0;background: #fff;}
section:nth-child(even) {background: #f9f9f9;}











